body {
    background-color: rgb(149, 197, 197);
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 400px;
    background-color: #fff;
    padding: 20px;
    margin: 0 auto;
    border-radius: 70px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);

}
 
h1 {
    text-align: center;
}
 
.input-container {
    display: flex;
    margin-bottom: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid cyan;
    border-radius: 5px;
    font-size: 16px;

}


button {
    padding: 10px 20px;
    background-color: #100dbe;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;


}

ul {
    list-style-type: style type none;
    padding: 0;
}
li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    border-bottom: 1px solid #ccc;
}
li:last-child {
    border-bottom: none;
}

.delete-btn {
    background-color: #ff4136;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding:5px 10px;
    


}